/.vscode
/0000000000002747_training_twitter_x_y_train.csv
/0000000000007547s.zip
/0000000000007548s.zip
/2D Lists.pdf
/A.cpp
/A.exe
/Anaconda Installation Guide.pdf
/Aurelien-Geron-Hands-On-Machine-Learning-with-Scikit-Learn-Keras-and-Tensorflow_-Concepts-Tools-and-Techniques-to-Build-Intelligent-Systems-OReilly-Media-2019.pdf
/A_new.cpp
/A_new.exe
/B.cpp
/B.exe
/Boston_housing.csv
/breast-cancer.csv
/Classification Measures.ipynb
/Classification_Measures
/Decision Trees
/Diabetes  Test Data.csv
/Diabetes Train Data.csv
/Feature Scaling
/Feature Scaling Notes.ipynb
/Handouts Python Basics.pdf
/Intro to ML Notes.ipynb
/KNN NOTES.ipynb
/Linear regression Notes.ipynb
/Logistic Regression
/Multi Variable Regression and Gradient Descent.ipynb
/MutiVariable Regression and Gradient Descent.ipynb
/Naive Bayes Notes.ipynb
/Notes for Decision Tree Implementation.pdf
/Numpy - Copy.ipynb
/Numpy.ipynb
/Pandas notes.ipynb
/Pandas.zip
/Plotting Graphs notes.ipynb
/Python Basics Notes
/Random Forests.ipynb
/Recovering_a_small_string.exe
/Strings Notes Python Basics.pdf